<div data-role="footer" data-position="fixed">
            <nav data-role="navbar">
            <ul>
                <li><a href='#calendar' data-icon="calendar">Calendar</a></li>
                <li><a href='#friends' data-icon="user">Friends</a></li>
                <li><a href='#events' data-icon="eye">Events</a></li>
            </ul>
            </nav>
</div><!-- end of footer -->