<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">

        <title>Rota App</title>
        <style>
            * {box-sizing: border-box;}
            ul {list-style-type: none;}
            body {font-family: Verdana, sans-serif;}
            
            .month {
              padding: 70px 25px;
              width: 100%;
              background: #1abc9c;
              text-align: center;
            }
            
            .month ul {
              margin: 0;
              padding: 0;
            }
            
            .month ul li {
              color: white;
              font-size: 20px;
              text-transform: uppercase;
              letter-spacing: 3px;
            }
            
            .month .prev {
              float: left;
              padding-top: 10px;
            }
            
            .month .next {
              float: right;
              padding-top: 10px;
            }
            
            .weekdays {
              margin: 0;
              padding: 10px 0;
              background-color: #ddd;
            }
            
            .weekdays li {
              display: inline-block;
              width: 13.6%;
              color: #666;
              text-align: center;
            }
            
            .days {
              padding: 10px 0;
              background: #eee;
              margin: 0;
            }
            
            .days li {
              list-style-type: none;
              display: inline-block;
              width: 13.6%;
              text-align: center;
              margin-bottom: 5px;
              font-size:12px;
              color: #777;
            }
            
            .days li .active {
              padding: 5px;
              background: #1abc9c;
              color: white !important
            }
            
            /* Add media queries for smaller screens */
            @media screen and (max-width:720px) {
              .weekdays li, .days li {width: 13.1%;}
            }
            
            @media screen and (max-width: 420px) {
              .weekdays li, .days li {width: 12.5%;}
              .days li .active {padding: 2px;}
            }
            
            @media screen and (max-width: 290px) {
              .weekdays li, .days li {width: 12.2%;}
            }
            </style>
<link rel="stylesheet" href="themes/groupapp.min.css" />
<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" href="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.css" />

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script> 
  <script src="https://rawgithub.com/jquery/jquery-ui/1-10-stable/ui/jquery.ui.datepicker.js"></script>
  <script src="http://code.jquery.com/mobile/git/jquery.mobile-git.js"></script> 
  <script src="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.js"></script>
  <script src="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.js"></script>

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script>
  function genDays(addon){
    console.log("genDays start");
  var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";
        for (var j = 0; j < 7; i++) {
          document.getElementById("day" + j).innerHTML = "";
        }
        var d8 = new Date();
        var curyear = d8.getFullYear();
        var curmnth = d8.getMonth() + addon;
        var firstday = new Date(curyear + "-" + curmnth + "-01").getDay();
        var textday;
        switch(firstday){
          case 0:
            textday = weekday[0];
            break;
          case 1:
            textday = weekday[1];
            break;
          case 2:
            textday = weekday[2];
            break;
          case 3:
            textday = weekday[3];
            break;
          case 4:
            textday = weekday[4];
            break;
          case 5:
            textday = weekday[5];
            break;
          case 6:
            textday = weekday[6];
        }
        function daysInMonth (month, year) {
          return new Date(year, month, 0).getDate();
        }
        console.log("First day: " + textday + firstday);
        var mnthDays = daysInMonth(curmnth, curyear);
        console.log(mnthDays);
        var totalDay = mnthDays + 1;
        var dayLoop;
        for (var i = 1; i < totalDay; i++) {
          dayLoop = firstday + i - 1;
          document.getElementById("day" + dayLoop).innerHTML = i;
          
        }
  }
</script>
  </head>
  <body>
    <div data-role="page" id="loginpage">
            Username: <input type="text" id="usernameLog" name="username">
            Password: <input type="password" id="passwordLog" name="password">
        <button type="submit" id="loginBtn" value="Login">Login</button>
        <p>Don't have an account? <a href="#signuppage">Sign Up</a>!</p>
    </div><!-- end of userloggedout -->
      
    <div data-role="page" id="signuppage">
        <!--<form action="/signup" method="post">-->
            Username: <input type="text" id="usernameSign" name="username">
            First Name: <input type="text" id="fnameSign" name="fname">
            Last Name: <input type="text" id="lnameSign" name="lname">
            E-mail: <input type="email" id="emailSign" name="email">
            Password: <input type="password" id="passwordSign" name="password">
        <button type="submit" id="signupBtn" value="Submit">Submit</button>
        <!--</form>-->
    </div><!-- end of signup -->
    <div data-role="page" id="friends">
        <div data-role="header" data-position="fixed">
            <h1>Friends</h1>
            <ul data-role="listview" data-icon="action" data-filter="true">
            </ul>
        </div><!-- end of header -->
         <% include partials/navbar %>
    </div><!-- end of friends -->
          <div data-role="page" id="events">
        <div data-role="header" data-position="fixed">
            <h1>Events</h1>
            <ul data-role="listview" data-icon="action" data-filter="true">
            </ul>
        </div><!-- end of header -->
         <% include partials/navbar %>
    </div><!-- end of friends -->
      <div data-role="page" id="calendar">
        <div data-role="header" data-position="fixed" >
            <h1>My Calendar <a href="#calendar2">Calendar</a></h1>
        </div><!-- end of header -->
          <input type="text" data-role="date" data-inline="true" id="CLNDR">
          
          <% include partials/navbar %>
    
    </div>
    <div data-role="page" id="calendar2">
    <div class="month">      
        <ul>
          <li id="prev">&#10094;</li>
          <li id="next">&#10095;</li>
          <li>
            <%  function getMonthText(mnth){
                console.log(mnth);
                var textMnth;
            switch(mnth){
                case 0:
                    textMnth = "January";
                    break;
                case 1:
                   textMnth = "February";
                   break; 
                case 2:
                    textMnth = "March";
                    break;
                case 3:
                    textMnth = "April";
                    break;
                case 4:
                    textMnth = "May";
                    break;
                case 5:
                   textMnth = "June";
                   break; 
                case 6:
                    textMnth = "July";
                    break;
                case 7:
                    textMnth = "August";
                    break;
                case 8:
                    textMnth = "September";
                    break;
                case 9:
                   textMnth = "October";
                   break; 
                case 10:
                    textMnth = "November";
                    break;
                case 11:
                    textMnth = "December";
            }
                console.log(textMnth);
                return textMnth;
            } var d = new Date(); var mnth = d.getMonth();  %>
            <%= getMonthText(mnth); %>
            <br>
            <span style="font-size:18px"><%= d.getFullYear(); %></span>
          </li>
        </ul>
      </div>
      
      <ul class="weekdays">
        <li>Su</li>
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
      </ul>
      
      <ul class="days">
        <li id="day0"></li>
        <li id="day1"></li>
        <li id="day2"></li>
        <li id="day3"></li>
        <li id="day4"></li>
        <li id="day5"></li>
        <li id="day6"></li>
        <li id="day7"></li>
        <li id="day8"></li>
        <li id="day9"></li>
        <li id="day10"></li>
        <li id="day11"></li>
        <li id="day12"></li>
        <li id="day13"></li>
        <li id="day14"></li>
        <li id="day15"></li>
        <li id="day16"></li>
        <li id="day17"></li>
        <li id="day18"></li>
        <li id="day19"></li>
        <li id="day20"></li>
        <li id="day21"></li>
        <li id="day22"></li>
        <li id="day23"></li>
        <li id="day24"></li>
        <li id="day25"></li>
        <li id="day26"></li>
        <li id="day27"></li>
        <li id="day28"></li>
        <li id="day29"></li>
        <li id="day30"></li>
        <li id="day31"></li>
        <li id="day32"></li>
        <li id="day33"></li>
        <li id="day34"></li>
        <li id="day35"></li>
        <li id="day36"></li>
        <li id="day37"></li>
      </ul>
      <% include partials/navbar %>
    </div>
    </body>
    <script>


// Start of SignUp
$( "#signupBtn" ).click(function() { // when button #signup is clicked    
        var user = $("#usernameSign").val();
        var fname = $("#fnameSign").val();
        var lname = $("#lnameSign").val();
        var email = $("#emailSign").val();
        var pass = $("#passwordSign").val();

    $.post( "/signup", { username: user, fname : fname, lname : lname, email : email, password : pass }).done(function( data ) {
        alert( "Data Loaded: " + data );
        console.log("Returned data: " + data);
    if(data = ""){
        console.log(data);
                  
    }else if(data = "pass"){
        console.log(data);
        window.location = "/#home";
                  
    }else if(data = "fail"){
        console.log(data);
        window.location= "/#signuppage";
    }
  });
});
// End of SignUp
// Start of Login
$( "#loginBtn" ).click(function() { // when button #loginform is clicked
    var username = $("#usernameLog").val();
    var password = $("#passwordLog").val();
    console.log("submit login");
    var addonday = 1;
    genDays(addonday);
    $.post( "/login", { username : username, password : password }).done(function( data ) {
        console.log(data);
        //myDate();
        if (data == username){
            console.log("WIN!!");


    
            window.location = "/#calendar";
            
            
            /*$.get("/login", { }).done(function( data ) {
                        
            });*/
        }else{
            console.log("ERROR");
            window.location = "/#err";
                    
        }
             
    });
         
});
// End of Login  
// start of prev
$( "#prev" ).click(function() {
  var prevadd = -1;
  genDays(prevadd);
});
// end of prev
// start of next
$( "#next" ).click(function() {
  var nextadd = 2;
  genDays(nextadd);
});
$("#CLNDR").click(function() {
    var calValue = $("#CLNDR").val();
    var cal2 = $("#CLNDR").getDate;
    console.log(cal2);
});
</script>

</html>
