<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">

        <title>Rota App</title>
        <style>

            * {box-sizing: border-box;}
            ul {list-style-type: none;}
            body {font-family: Verdana, sans-serif;}
            
            .month {
              padding: 70px 25px;
              width: 100%;
              background: #1abc9c;
              text-align: center;
            }
            
            .month ul {
              margin: 0;
              padding: 0;
            }
            
            .month ul li {
              color: white;
              font-size: 20px;
              text-transform: uppercase;
              letter-spacing: 3px;
            }
            
            .month .prev {
              float: left;
              padding-top: 10px;
            }
            
            .month .next {
              float: right;
              padding-top: 10px;
            }
            
            .weekdays {
              margin: 0;
              padding: 10px 0;
              background-color: #ddd;
            }
            
            .weekdays li {
              display: inline-block;
              width: 13.6%;
              color: #666;
              text-align: center;
            }
            
            .days {
              padding: 10px 0;
              background: #eee;
              margin: 0;
            }
            
            .days li {
              list-style-type: none;
              display: inline-block;
              width: 13.6%;
              text-align: center;
              margin-bottom: 5px;
              font-size:12px;
              color: #777;
            }
            
            .days li .active {
              padding: 5px;
              background: #1abc9c;
              color: white !important
            }
            
            /* Add media queries for smaller screens */
            @media screen and (max-width:720px) {
              .weekdays li, .days li {width: 13.1%;}
            }
            
            @media screen and (max-width: 420px) {
              .weekdays li, .days li {width: 12.5%;}
              .days li .active {padding: 2px;}
            }
            
            @media screen and (max-width: 290px) {
              .weekdays li, .days li {width: 12.2%;}
            }
            </style>
<link rel="stylesheet" href="themes/groupapp.min.css" />
<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" href="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.css" />

  <script src="https://rawgithub.com/jquery/jquery-ui/1-10-stable/ui/jquery.ui.datepicker.js"></script>
  <script src="http://code.jquery.com/mobile/git/jquery.mobile-git.js"></script> 
  <script src="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.js"></script>

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<script>
function genEvents(){
    var page = 0;

function getEvents(page) {
  $("#events-panel").show();
  $("#attraction-panel").hide();

  if (page < 0) {
    page = 0;
    return;
  }
  if (page > 0) {
    if (page > getEvents.json.page.totalPages-1) {
      page=0;
    }
  }
  var countrySelect = document.getElementById("countryCode");
  var countryCode = countrySelect.value;
  $.ajax({
    type:"GET",
    url:"https://app.ticketmaster.com/discovery/v2/events.json?apikey=pLOeuGq2JL05uEGrZG7DuGWu6sh2OnMz&size=2&countryCode="+countryCode+"&page="+page,
    async:true,
    dataType: "json",
    success: function(json) {
          getEvents.json = json;
  			  showEvents(json);
  		   },
    error: function(xhr, status, err) {
  			  console.log(err);
  		   }
  });
}
// end of getEvents

function showEvents(json) {
  var items = $("#events .list-group-item");
  items.hide();
  var events = json._embedded.events;
  var item = items.first();
  
  for (var i=0;i<events.length;i++) {
    item.children('.list-group-item-heading').text(events[i].name);
    item.children('.list-group-item-text').text(events[i].dates.start.localDate);
    console.log("Item: " + events[i].dates.start.localDate);
    try {
      item.children(".venue").text(events[i]._embedded.venues[0].name + " in " + events[i]._embedded.venues[0].city.name);
    } catch (err) {
      console.log(err);
    }
    item.show();
    item.off("click");
    item.click(events[i], function(eventObject) {
      console.log(eventObject.data);
      try {
        getAttraction(eventObject.data._embedded.attractions[0].id);
      } catch (err) {
      console.log(err);
      }
    });
    item=item.next();
  }
}
// end of showEvents

$("#prev").click(function() {
  getEvents(--page);
});

$("#next").click(function() {
  getEvents(++page);
});

function getAttraction(id) {
  $.ajax({
    type:"GET",
    url:"https://app.ticketmaster.com/discovery/v2/attractions/"+id+".json?apikey=pLOeuGq2JL05uEGrZG7DuGWu6sh2OnMz",
    async:true,
    dataType: "json",
    success: function(json) {
          showAttraction(json);
  		   },
    error: function(xhr, status, err) {
  			  console.log(err);
  		   }
  });
}
// end of getAttraction

function showAttraction(json) {
  $("#events-panel").hide();
  $("#attraction-panel").show();
  
  $("#attraction-panel").click(function() {
    getEvents(page);
  });
  
  $("#attraction .list-group-item-heading").first().text(json.name);
  $("#attraction img").first().attr('src',json.images[0].url);
  $("#classification").text(json.classifications[0].segment.name + " - " + json.classifications[0].genre.name + " - " + json.classifications[0].subGenre.name);
}
// end of showAttraction

getEvents(page);
}
// end of genEvents

  function resetDays(){
    for (var i = 0; i < 37; i++) {
          
          document.getElementById("day" + i).innerHTML = "";
          
        }
  }
  function getMonthText(mnth, yer){
                console.log(mnth);
                var textMnth;
            switch(mnth){
                case 0:
                    yer = yer - 1;
                    console.log(yer);
                    document.getElementById("spanyear").innerHTML = yer;
                    mnth = 12;
                    textMnth = "December";
                    break;
                case 1:
                    textMnth = "January";
                    break;
                case 2:
                   textMnth = "February";
                   break; 
                case 3:
                    textMnth = "March";
                    break;
                case 4:
                    textMnth = "April";
                    break;
                case 5:
                    textMnth = "May";
                    break;
                case 6:
                   textMnth = "June";
                   break; 
                case 7:
                    textMnth = "July";
                    break;
                case 8:
                    textMnth = "August";
                    break;
                case 9:
                    textMnth = "September";
                    break;
                case 10:
                   textMnth = "October";
                   break; 
                case 11:
                    textMnth = "November";
                    break;
                case 12:
                    textMnth = "December";
                    break;
                case 13:
                    yer = yer + 1; 
                    document.getElementById("spanyear").innerHTML = yer;
                    mnth = 1;
                    textMnth = "January";
                           
            }
                console.log(textMnth);
                var twovalues = [textMnth, yer, mnth];
                return twovalues;
            }
  function genDays(curmnth, curyear){
    console.log("genDays start");
  var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        //var d8 = new Date();
        //var curyear = d8.getFullYear();
        //var curmnth = d8.getMonth() + addon;
        console.log("Month = month = 1: " + curmnth);
        var txtMnthArray = getMonthText(curmnth, curyear);
        var txtMnth = txtMnthArray[0];
        var curyear = txtMnthArray[1];
        curmnth = txtMnthArray[2];
        console.log("Month = month = 1: " + curmnth);
        if (txtMnth === undefined){
          txtMnth = getMonthText(curmnth, curyear);
        }
        document.getElementById("monthText").innerHTML = txtMnth;
        document.getElementById("spanyear").innerHTML = curyear;
        var firstday = new Date(curyear + "-" + curmnth + "-01").getDay();
        var textday;
        switch(firstday){
          case 0:
            textday = weekday[0];
            break;
          case 1:
            textday = weekday[1];
            break;
          case 2:
            textday = weekday[2];
            break;
          case 3:
            textday = weekday[3];
            break;
          case 4:
            textday = weekday[4];
            break;
          case 5:
            textday = weekday[5];
            break;
          case 6:
            textday = weekday[6];
        }
        function daysInMonth (month, year) {
          return new Date(year, month, 0).getDate();
        }
        console.log("Cur Year: " + curyear);
        console.log("First day: " + textday + " " + firstday);
        var mnthDays = daysInMonth(curmnth, curyear);
        console.log(mnthDays);
        var totalDay = mnthDays + 1;
        var dayLoop;
        var linkOne = '<a href="/#day?id=';
        var linkTwo = "</a>";
        var fullD8;
        var d8Link;
        for (var i = 1; i < totalDay; i++) {
          fullD8 = i + "/" + curmnth + "/" + curyear;
          //d8Link = linkOne + fullD8 + '">' + i + linkTwo;
          d8Link = "<button id='day" + fullD8 + "'>" + i + "</button>";
          dayLoop = firstday + i - 1;
          document.getElementById("day" + dayLoop).innerHTML = d8Link;
          
        }
        return curmnth;
  }
</script>
  </head>
  <body>
    <div data-role="page" id="loginpage">
            Username: <input type="text" id="usernameLog" name="username">
            Password: <input type="password" id="passwordLog" name="password">
        <button type="submit" id="loginBtn" value="Login">Login</button>
        <p>Don't have an account? <a href="#signuppage">Sign Up</a>!</p>
    </div><!-- end of userloggedout -->
      
    <div data-role="page" id="signuppage">
        <!--<form action="/signup" method="post">-->
            Username: <input type="text" id="usernameSign" name="username">
            First Name: <input type="text" id="fnameSign" name="fname">
            Last Name: <input type="text" id="lnameSign" name="lname">
            E-mail: <input type="email" id="emailSign" name="email">
            Password: <input type="password" id="passwordSign" name="password">
        <button type="submit" id="signupBtn" value="Submit">Submit</button>
        <!--</form>-->
    </div><!-- end of signup -->
    <div data-role="page" id="friends">
        <div data-role="header" data-position="fixed">
            <h1>Friends</h1>
            <ul data-role="listview" data-icon="action" data-filter="true">
            </ul>
        </div><!-- end of header -->
         <% include partials/navbar %>
    </div><!-- end of friends -->
          <div data-role="page" id="events">
        <div data-role="header" data-position="fixed">
            <h1>Events</h1>
            <select id="countryCode" name="countryCode">
              <option value="IE" selected>Ireland</option>
              <option value="UK">United Kingdom</option>
              <option value="US">United States</option>
              <option value="AU">Australia</option>
              <option value="FR">France</option>
              <option value="DE">Germany</option>
              <option value="IT">Italy</option>
              <option value="JP">Japan</option>
              <option value="NL">Netherlands</option>
              <option value="ND">Nothern Ireland</option>
              <option value="NZ">New Zealand</option>
              <option value="PT">Portugal</option>
              <option value="ZA">South Africa</option>
              <option value="ES">Spain</option>
              <option value="SE">Sweeden</option>
              <option value="TR">Turkey</option>
              <option value="PL">Poland</option>
              <option value="NO">Norway</option>
              <option value="MX">Mexico</option>
              <option value="LU">Luxembourg</option>
              <option value="LT">Lithuania</option>
              <option value="LV">Latvia</option>
              <option value="IS">Iceland</option>
              <option value="GR">Greece</option>
              <option value="FI">Finland</option>
              <option value="DK">Denmark</option>
              <option value="HR">Croatia</option>
            </select>
            <button id="eventSearch">Search</button>
          </div><!-- end of header -->
            <div class="panel-body">
              <div id="events" class="list-group">
                <button class="list-group-item" id="eventAddBtn">
                  <h4 class="list-group-item-heading">Event title</h4>
                  <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <p class="venue"></p>
                </button>
                 <button class="list-group-item" id="eventAddBtn">
                  <h4 class="list-group-item-heading">Event title</h4>
                  <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <p class="venue"></p>
               </button>
                
              </div>
            </div>
            <div class="panel-footer">
              <nav>
                <ul class="pager">
                  <li id="prev" class="previous"><a href="#"><span aria-hidden="true">&larr;</span></a></li>
                  <li id="next" class="next"><a href="#"><span aria-hidden="true">&rarr;</span></a></li>
                </ul>
              </nav>
            </div>
        
         <% include partials/navbar %>
    </div><!-- end of events -->
    <!-- start of day -->
    <div data-role="page" id="day">
      <div data-role="header" data-position="fixed" id="dayHeader">x/x/x
      </div>
      <form>
        <input data-type="search" id="searchForCollapsibleSet">
    </form>
        <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
            <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>00:00 - 01:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title1">Free Time</li>
                    <li id="venue1">Free Time</li>
                    <li id="city1">Free Time</li>
                    <li id="duration1">Free Time</li>
                </ul>
            </div>
          </div>

            <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
              <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>01:00 - 02:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title2">Free Time</li>
                    <li id="venue2">Free Time</li>
                    <li id="city2">Free Time</li>
                    <li id="duration2">Free Time</li>
                </ul>
                </div>
            </div>

                <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                  <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>02:00 - 03:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title3">Free Time</li>
                    <li id="venue3">Free Time</li>
                    <li id="city3">Free Time</li>
                    <li id="duration3">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>03:00 - 04:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title4">Free Time</li>
                    <li id="venue4">Free Time</li>
                    <li id="city4">Free Time</li>
                    <li id="duration4">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>04:00 - 05:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title5">Free Time</li>
                    <li id="venue5">Free Time</li>
                    <li id="city5">Free Time</li>
                    <li id="duration5">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>05:00 - 06:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title6">Free Time</li>
                    <li id="venue6">Free Time</li>
                    <li id="city6">Free Time</li>
                    <li id="duration6">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>06:00 - 07:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title7">Free Time</li>
                    <li id="venue7">Free Time</li>
                    <li id="city7">Free Time</li>
                    <li id="duration7">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>07:00 - 08:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title8">Free Time</li>
                    <li id="venue8">Free Time</li>
                    <li id="city8">Free Time</li>
                    <li id="duration8">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>08:00 - 09:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title9">Free Time</li>
                    <li id="venue9">Free Time</li>
                    <li id="city9">Free Time</li>
                    <li id="duration9">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>09:00 - 10:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title10">Free Time</li>
                    <li id="venue10">Free Time</li>
                    <li id="city10">Free Time</li>
                    <li id="duration10">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>10:00 - 11:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title11">Free Time</li>
                    <li id="venue11">Free Time</li>
                    <li id="city11">Free Time</li>
                    <li id="duration11">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>11:00 - 12:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title12">Free Time</li>
                    <li id="venue12">Free Time</li>
                    <li id="city12">Free Time</li>
                    <li id="duration12">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>12:00 - 13:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title13">Free Time</li>
                    <li id="venue13">Free Time</li>
                    <li id="city13">Free Time</li>
                    <li id="duration13">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>13:00 - 14:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title14">Free Time</li>
                    <li id="venue14">Free Time</li>
                    <li id="city14">Free Time</li>
                    <li id="duration14">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>14:00 - 15:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title15">Free Time</li>
                    <li id="venue15">Free Time</li>
                    <li id="city15">Free Time</li>
                    <li id="duration15">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>15:00 - 16:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title16">Free Time</li>
                    <li id="venue16">Free Time</li>
                    <li id="city16">Free Time</li>
                    <li id="duration16">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>16:00 - 17:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title17">Free Time</li>
                    <li id="venue17">Free Time</li>
                    <li id="city17">Free Time</li>
                    <li id="duration17">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>17:00 - 18:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title18">Free Time</li>
                    <li id="venue18">Free Time</li>
                    <li id="city18">Free Time</li>
                    <li id="duration18">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>18:00 - 19:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title19">Free Time</li>
                    <li id="venue19">Free Time</li>
                    <li id="city19">Free Time</li>
                    <li id="duration19">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>19:00 - 20:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title20">Free Time</li>
                    <li id="venue20">Free Time</li>
                    <li id="city20">Free Time</li>
                    <li id="duration20">Free Time</li>
                </ul>
              </div>
            </div>
              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>20:00 - 21:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title21">Free Time</li>
                    <li id="venue21">Free Time</li>
                    <li id="city21">Free Time</li>
                    <li id="duration21">Free Time</li>
                </ul>
              </div>
            </div>

              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>21:00 - 22:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title22">Free Time</li>
                    <li id="venue22">Free Time</li>
                    <li id="city22">Free Time</li>
                    <li id="duration22">Free Time</li>
                </ul>
              </div>
            </div>
            
              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>22:00 - 23:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title23">Free Time</li>
                    <li id="venue23">Free Time</li>
                    <li id="city23">Free Time</li>
                    <li id="duration23">Free Time</li>
                </ul>
              </div>
            </div>
            
              <div data-role="collapsible-set" data-filter="true" data-inset="true" id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
                <div data-role="collapsible" data-filtertext="DayEvent">
                <h3>23:00 - 00:00</h3>
                <ul data-role="listview" data-inset="false">
                    <li id="title0">Free Time</li>
                    <li id="venue0">Free Time</li>
                    <li id="city0">Free Time</li>
                    <li id="duration0">Free Time</li>
                </ul>
            </div>
        </div>
      <!--
          <h1><div id="dayTitle"></div></h1>
          <ul data-role="listview" data-icon="action" data-filter="true">
          <li><div id="eventInfo">jjnl</div></li>
          </ul>
      </div><!-- end of header -->
    
       <% include partials/navbar %>
  </div><!-- end of day -->
      <div data-role="page" id="calendar2">
        <div data-role="header" data-position="fixed" >
            <h1>My Calendar <a href='#calendar'>Calendar</a></h1>
        </div><!-- end of header -->
          <input type="text" data-role="date" data-inline="true" id="CLNDR">
          
          <% include partials/navbar %>
    
    </div>
    <div data-role="page" id="calendar">
    <div class="month">      
        <ul>
          <li id="prevMnth">&#10094;</li>
          <li id="nextMnth">&#10095;</li>
          <li>
            <div id="monthText"></div>
            <br> 
            <span id="spanyear" style="font-size:18px"></span>
          </li>
        </ul>
      </div>
      
      <ul class="weekdays">
        <li>Su</li>
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
      </ul>
      
      <ul class="days">
        <li id="day0"></li>
        <li id="day1"></li>
        <li id="day2"></li>
        <li id="day3"></li>
        <li id="day4"></li>
        <li id="day5"></li>
        <li id="day6"></li>
        <li id="day7"></li>
        <li id="day8"></li>
        <li id="day9"></li>
        <li id="day10"></li>
        <li id="day11"></li>
        <li id="day12"></li>
        <li id="day13"></li>
        <li id="day14"></li>
        <li id="day15"></li>
        <li id="day16"></li>
        <li id="day17"></li>
        <li id="day18"></li>
        <li id="day19"></li>
        <li id="day20"></li>
        <li id="day21"></li>
        <li id="day22"></li>
        <li id="day23"></li>
        <li id="day24"></li>
        <li id="day25"></li>
        <li id="day26"></li>
        <li id="day27"></li>
        <li id="day28"></li>
        <li id="day29"></li>
        <li id="day30"></li>
        <li id="day31"></li>
        <li id="day32"></li>
        <li id="day33"></li>
        <li id="day34"></li>
        <li id="day35"></li>
        <li id="day36"></li>
        <li id="day37"></li>
      </ul>
      <% include partials/navbar %>
    </div>
    </body>
    <script>

// Start of SignUp
$( "#signupBtn" ).click(function() { // when button #signup is clicked    
        var user = $("#usernameSign").val();
        var fname = $("#fnameSign").val();
        var lname = $("#lnameSign").val();
        var email = $("#emailSign").val();
        var pass = $("#passwordSign").val();

    $.post( "/signup", { username: user, fname : fname, lname : lname, email : email, password : pass }).done(function( data ) {
        alert( "Data Loaded: " + data );
        console.log("Returned data: " + data);
    if(data = ""){
        console.log(data);
                  
    }else if(data = "pass"){
        console.log(data);
        window.location = "/#home";
                  
    }else if(data = "fail"){
        console.log(data);
        window.location= "/#signuppage";
    }
  });
});
// End of SignUp
var currd8 = new Date();
var month = currd8.getMonth();
month = month + 1;
var curyear = currd8.getFullYear();
// Start of Event Search
$( "#eventSearch" ).click(function() { // when button #eventSearch is clicked
  genEvents();
});
// End of Event Search
// Start of Login
$( "#loginBtn" ).click(function() { // when button #loginform is clicked
    var username = $("#usernameLog").val();
    var password = $("#passwordLog").val();
    console.log("submit login");
    if (month < 12 || month > 0){
      month = genDays(month, curyear);
    }else {
      genDays(month, curyear);
    }
    $.post( "/login", { username : username, password : password }).done(function( data ) {
        console.log(data);
        genEvents();
        //myDate();
        if (data == username){
            console.log("WIN!!");


    
            window.location = "/#calendar";
            
            
            /*$.get("/login", { }).done(function( data ) {
                        
            });*/
        }else{
            console.log("ERROR");
            window.location = "/#err";
                    
        }
             
    });
         
});
// End of Login  
// start of prev
$( "#prevMnth" ).click(function() {
  resetDays();
  var prevadd = -1;
  month = month - 1;
  if (month < 12 || month > 0){
    month = genDays(month, curyear);
  }else {
    genDays(month, curyear);
  }
});
// end of prev
// start of next
$( "#nextMnth" ).click(function() {
  resetDays();
  var nextadd = 2;
  month = month + 1;
  
  if (month < 12 || month > 0){
      month = genDays(month, curyear);
      console.log("Month: " + month);
  }else {
    genDays(month, curyear);
  }
});
/*$( "#day" ).click(function() { // when button #day is clicked
  $.get( "/dayInfo?id=", { }).done(function( data ) {
    
  });
});*/
$("#eventAddBtn").click(function() {

  $.post( "/addEvent", { title: title, location : location, country : country, city : city, startTime : startTime, endTime : endTime, eventType : eventType, eventDate : eventDate }).done(function( data ) {

  });
});
/*
   var calValue = $("#CLNDR").val();
    var cal2 = $("#CLNDR").getDate;
    console.log(cal2);
*/
</script>

</html>
