<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Rota App</title>
<link rel="stylesheet" href="themes/groupapp.min.css" />
<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div data-role="page" id="loginpage">
        <form action="/login" method="post">
            Username: <input type="text" id="usernameLog" name="username">
            Password: <input type="password" id="passwordLog" name="password">
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="#signuppage">Sign Up</a>!</p>
    </div><!-- end of userloggedout -->
      
    <div data-role="page" id="signuppage">
        <form action="/signup" method="post">
            Username: <input type="text" id="usernameSign" name="username">
            First Name: <input type="text" id="fnameSign" name="fname">
            Last Name: <input type="text" id="lnameSign" name="lname">
            E-mail: <input type="email" id="emailSign" name="email">
            Password: <input type="password" id="passwordSign" name="password">
            <input type="submit" value="Submit">
    </form>
    </div><!-- end of signup -->
      <div data-role="page" id="home">
        <h2>My Calander</h2>
    
    </div>
    </body>
    <script>
// Start of SignUp
$( "#signup" ).click(function() { // when button #signup is clicked    var user = $("#username").val();
        var fname = $("#fnameSign").val();
        var lname = $("#lnameSign").val();
        var email = $("#emailSign").val();
        var pass = $("#passwordSign").val();

    $.post( "/signup", { username: user, fname : fname, lname : lname, email : email, password : pass }).done(function( data ) {
        alert( "Data Loaded: " + data );
        console.log("Returned data: " + data);
    if(data = ""){
        console.log(data);
                  
    }else if(data = "pass"){
        console.log(data);
        window.location = "/#home";
                  
    }else if(data = "fail"){
        console.log(data);
        window.location= "/#signuppage";
    }
  });
});
// End of SignUp
// Start of Login
$( "#login" ).click(function() { // when button #loginform is clicked
    var username = $("#usernameLog").val();
    var password = $("#passwordLog").val();
    console.log("submit");
    $.post( "/login", { username : username, password : password }).done(function( data ) {
        console.log(data);
        if (data == username){
            console.log("WIN!!");
    
            //window.location = "/#home";
                    
            /*$.get("/login", { }).done(function( data ) {
                        
            });*/
        }else{
            console.log("ERROR");
            //window.location = "/#err";
                    
        }
             
    });
         
});
// End of Login       
</script>

</html>
